attrs==21.2.0
Brotli==1.0.9
brotli-asgi==1.1.0
certifi==2021.5.30
click==8.0.1
dateparser==1.0.0
elasticsearch==7.13.1
elasticsearch-dsl==7.3.0
fastapi==0.73.0
geojson-pydantic==0.3.0
lark==0.11.3
pydantic==1.8.2
python-dateutil==2.8.1
pygeoif==0.7
pytz==2021.1
regex==2021.7.6
six==1.16.0
starlette==0.14.2
git+https://github.com/cedadev/stac-free-text-ext
git+https://github.com/cedadev/stac-context-collection-ext
git+https://github.com/cedadev/stac-asset-search-ext
stac-pydantic==2.0.0
pystac==1.7.2
iso8601==1.0.2
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.5
git+https://github.com/geopython/pygeofilter@v0.1.1#egg=pygeofilter
git+https://github.com/cedadev/pygeofilter-elasticsearch#egg=pygeofilter_elasticsearch
git+https://github.com/stac-utils/stac-fastapi@2.4.5#egg=stac_fastapi.api&subdirectory=stac_fastapi/api
git+https://github.com/stac-utils/stac-fastapi@2.4.5#egg=stac_fastapi.extensions&subdirectory=stac_fastapi/extensions
git+https://github.com/stac-utils/stac-fastapi@2.4.5#egg=stac_fastapi.types&subdirectory=stac_fastapi/types
