# encoding: utf-8
"""

"""
__author__ = 'Richard Smith'
__date__ = '24 Jun 2021'
__copyright__ = 'Copyright 2018 United Kingdom Research and Innovation'
__license__ = 'BSD - see LICENSE file in top-level package directory'
__contact__ = 'richard.d.smith@stfc.ac.uk'

ELASTICSEARCH_CONNECTION = {
    'hosts': ['your elasticsearch host'],
    'verify_certs': False,
    'ssl_show_warn': False,
    'headers': {'x-api-key': 'yourapikey'}
}

COLLECTION_INDEX = 'ceda-collections-2021-06-09'
ITEM_INDEX = 'ceda-items-2021-06-09'
ASSET_INDEX = 'ceda-assets-2021-06-09'

STAC_DESCRIPTION='CEDA STAC API'
STAC_TITLE='CEDA STAC API'

enable_response_models = True
openapi_url='/api'